body
{

 background-color: blueviolet;

}

#encabezado 
{
    width               : 25%;
    height              : 40%;
    padding             : 5px;
    margin-left         : auto;
    margin-right        : auto;
   

}
#encabezado img{
    border-radius       : 5px;
    object-fit          : cover;

}

#formulario 
{
    font-family         : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width               : 80%;
    height              : 20%;
    background-color    : white;
    padding             : 2%;
    margin-left         : auto;
    margin-right        : auto;
    border-radius       : 15px; 
    
}
#btn_calcular
{
    width               : 100%;
    height              : 30px;
    font-family         : sans-serif;
    font-size           : 20px;
   /* // border-color        : gray; */
    border-radius       : 5px;    
    background-color    : blue;
    color               : white;
    padding             : 3px;
    
}
table{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    
}
p
{
    font-family         : 'Courier New', Courier, monospace; 
    color               : black;  
    text-align          : center;
}
#resultado{
    background-color    : white;
    margin-left         : auto;
    margin-right        : auto;
    text-align          : center;
    padding             : 2%;
    width               : 80%; 
    border-radius       : 15px; 
    
    


}
#resultadoImagen{

    width               : 80%;
    height              : 0%;
    margin-left         : auto;
    margin-right        : auto;
    padding             : 2%;
    background-color    : black;
    border-radius       : 15px;
    

}

#imagen{
      
    object-fit          : cover;
    border-radius       : 30%; 
    margin-left: auto;
    margin-right: auto;
     display: block;
    

}